* {
    margin: 0;
    padding: 0;
}

.box {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 1920px; */
    width: 80vw;
    height: 10vh;
    margin: auto;
    background-color: aquamarine;
}

html {
    font-size: 4rem;
}

.container {
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 1920px; */
    width: 80vw;
    margin: 23px auto;
    /* height: 80vh; */
    min-height: 80vh;
    font-size: 18px;
    background-color: aquamarine;
    
}

.container > div {
    font-size: 2em;
    border: 2px solid red;
    width: 15% ;
}
.container > div div{
    border: 2px solid blue;
    width :15%;
}
.container2 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size:22px ;
    margin: 23px auto;
    border: 2px solid black;
    width: 80vw;
}